*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  outline: none;
  border: none;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
/*------------------------------------------------<<<!!"CONTENT"!!>>>----------------------------------------------------*/
.content {
  gap: 30px;
  max-width: 1140px;
  display: inline-flex; /*flex*/
  justify-content: center;
  align-items: flex-end;
}

.content__list {
  overflow-y: auto;
  max-height: 298px;
  position: relative;
  min-width: 396px;
}

.content__list-item {
  width: 398px;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  min-height: 534px;
  justify-content: flex-start;
  max-width: 100%;
}

.content__accent {
  color: #545050;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%; /* 70.5px */
  text-transform: uppercase;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 2px;
}

.content__video-card {
  display: flex;
  justify-content: flex-start;
}

.content__video-card:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: -1px;
}

.content__video-card:hover {
  text-decoration-line: underline;
}

.content__video-card:active {
  background-color: #545050;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link_current:focus {
  outline: none;
  border: none;
}

.content__card-link_current:focus-visible {
  outline: 1px solid #fff;
  outline-offset: -1px;
}

.content__card-link_current:active {
  background-color: #545050;
}

.content__video-card-title {
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-thumbnail {
  width: 194px;
  object-fit: cover;
  object-position: cover;
  max-height: 103px;
}

.content__video-card-description {
  color: #fff;
  font-family: 'Fira Sans Condensed', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
  margin-top: 6px;
}

.content__video-card-description-container {
  flex: 1;
}
/*------------------------------------------------<<<!!"TITLE"!!>>>----------------------------------------------------*/
.title {
  color: #fff;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}
/*------------------------------------------------<<<!!"SEARCH-FORM"!!>>>----------------------------------------------------*/
.search-form {
  display: flex;
  align-items: flex-end;
  gap: 40px;
  width: 711px;
  padding-bottom: 5px;
}

.search-form__fieldset {
  border: none; /*fildset*/
  display: flex;
  flex-direction: column;
  gap: 5px; /*8px*/
}

.search-form__fieldset-title {
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  font-weight: inherit;
}

.search-form__checkbox {
  cursor: pointer;
  appearance: none;
}

.search-form__pseudo-checkbox::before {
  content: '';
  display: none;
  /*position: absolute;*/
  /*top: 50%;*/
  /*left: 50%;*/
  /*transform: translate(-48%, -48%);*/
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.search-form__checkbox:active + .search-form__pseudo-checkbox::before {
  content: '';
  display: block;
}

.search-form__checkbox-list {
  display: inline-flex;
  gap: 15px;
  width: 212px;

  margin-bottom: 5px;
}

.search-form__checkbox-list label {
  padding-left: 3px;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: inline-block;
  outline: 1px solid #fff;
  outline-offset: 2px;
  background-position: center center;
  background-color: transparent;
  width: 15px;
  height: 15px;
}

input[type='checkbox']:checked + span {
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.search-form__textfield {
  background-color: transparent;
  border-style: none;
  outline: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  cursor: pointer;
  width: 225px;
  color: #fff;
  font-family: 'Fira Sans Condensed', Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:hover {
  cursor: text;
}
.search-form__textfield:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield:active {
  outline: none;
  outline-offset: none;
  border: 1px solid #fff;
}

.search-form__label {
  display: flex;
  width: fit-content;
  cursor: pointer;
  gap: 6px;
  border: none;
  outline: none;
  border-style: none;
  align-items: center;
}

.search-form__label:focus {
  outline: none;
  border: none;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline-offset: 1px;
  outline: 1px solid #fff;
}

.search-form__submit-button {
  width: 205px;
}
/*------------------------------------------------<<<!!"RESULIT"!!>>>----------------------------------------------------*/
.result {
  width: 711px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.result__video-container {
  margin-bottom: 16px;
  width: 711px;
  height: 386px;
  position: relative;
}

/*------------------------------------------------<<<!!"VISUALLY-HIDDEN"!!>>>----------------------------------------------------*/
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
/*------------------------------------------------<<<!!"BUTTON"!!>>>----------------------------------------------------*/
.button {
  font-family: 'Fira Sans Condensed', Arial, Helvetica, sans-serif;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  height: 34px;
}

.button:focus {
  outline: none;
}
.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:active {
  background-color: #545050;
}
.button:hover {
  text-decoration-line: underline;
}

/*------------------------------------------------<<<!!"MORE-BUTON"!!>>>----------------------------------------------------*/
.more-button {
  width: 399px;
  margin: 2px;
}
